---
---

.main-container {
  margin-top: 5%;
}
.profilepic {
  width: 200px;
  height: 200px;
  background-image: url(/squatting.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
}
.socialicons {
  margin-bottom: 25px;
  a {
    background-color: #1e87f0;
    /* background-color: #f0506e; */
    color: white;

    &:hover {
      background-color: #0b3661;
      color: white;
    }
  }
}
.navbuttons {
  margin-bottom: 25px;
  a:hover {
    background-color: #333;
  }
}
// .navbuttons button {
  /* background-color: #fafafa; */
  /* color: white; */
  /* border: 1px solid transparent; */
  /* font-weight: 200; */
  /* border-width: 2px; */
// }
.about-me {
  max-width: 470px;
  text-align: justify;
}

.publications {
  .publication {
    .links {
      margin-left: 20px;
    }
    .title {
      font-style: italic;
    }

    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.split-layout {
  .homelink:hover {
    text-decoration: none;
    // text-decoration-style: none;
    // text-decoration-color: #111;
    h1 {
      color: #111;
      // border-bottom-width: 1px;
    }
    // border-bottom: #333 1px solid;
  }

  .profilepic {
    width: 150px;
    height: 150px;
  }
  .my-name {
    font-size: 32px;
    margin-top: 20px;
    color: #999;
    font-weight: 300;
  }
  .navbuttons {
    display: inline-block;
    a {
      display: block;
      margin-bottom: 2px;
      width: 220px;
      text-align: left;
      padding-right: 0;

      span.right-icon {
        float: right;
        margin-top: 9px;
        margin-right: 15px;
        // display: none;
      }

      &:hover span.right-icon {
        display: initial;
      }
    }
  }
  .about-me {
    max-width: unset;
  }
}

/* Adjust this to be the natural width of the nav buttons. */
@media (max-width: 600px) {
  .navbuttons button {
    display: block;
    margin-bottom: 2px;
    width: 220px;
    text-align: left;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-container {
    margin-top: 30px;
  }
  .profilepic {
    width: 180px;
    height: 180px;
  }
  .my-name {
    margin-top: 20px;
  }
  .socialicons {
    margin-bottom: 20px;
  }
  .navbuttons {
    margin-bottom: 20px;
  }
  .about-me {
    text-align: left;
  }
}
